ok
<!--               <%= form_tag('/callback', method: :post) do %>
                <input class="search__query" name="" placeholder="作品名で検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>
              <% end %> -->